<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ETV history for calculation WN8|FPCSTAT</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="History of expected values for the calculation of WN8 for individual tanks in the game World of Tanks">
    <meta name="author" content="Boris Fekar">
    <meta property="og:title" content="ETV history for calculation WN8|FPCSTAT" />
    <meta property="og:description" content="History of expected values for the calculation of WN8 for individual tanks in the game World of Tanks" />
    <meta property="og:image" content="https://etvh.fpcstat.cz/etv_history.png" />
    <meta property="og:url" content="https://etvh.fpcstat.cz" />
    <meta name="google-site-verification" content="Zj-ImjHS46hTS5AtXCBxovl5UbXSDDBECNrygomGq1Q" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="../src/assets/font/Nunito-Regular.ttf">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FYKLQ93FKN"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FYKLQ93FKN');
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
