<template>  
  <select 
    :value="modelValue"
    class="px-8 py-2 rounded-sm"
    v-bind="{ 
      ...$attrs,
      onChange: ($event) => { $emit('update:modelValue', $event.target.value) }
      }"
    :id="uuid"
    >
    <option value="" disabled selected>{{label}}</option>
      <option 
        v-for="option in options" 
        :key="option" 
        :value="option" 
        :selected="options === modelValue"        
      >
        {{ option }}</option>
  </select>
</template>

<script>
import { defineComponent } from 'vue'
import UniqueID from "../../features/UniqueID"

export default defineComponent({
    props: {
      options: {
          type: Array,
          required: true,
      },
      label: {
          type: String,
          default: '',
      },
      modelValue: {
        type: [String, Number],
        default: '',
      }
    },
    setup() {
      const uuid = UniqueID().getID();

      return {
        uuid
      }
    },
})
</script>
