<template>
    <select
      class="px-8 py-2 rounded-sm"
      @change="selectedTank()"
      id="select-tank"
    >
    <option value="9999" selected>{{label}}</option>
      <option
        v-for="(option, index) in options"
        :key="index"
        :value="index"
      >
      <span>{{ option.name }}</span>
    </option>
  </select>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
    props: {
      options: {
          type: Array,
          required: true,
      },
      label: {
          type: String,
          default: '',
      },
    },
    methods: {
      selectedTank() {
        if( event.target.value != 9999 ) {
          this.$store.commit('SET_TANK', this.options[event.target.value]);
          this.$store.commit('SET_TANK_SELECTED', true);
          this.$store.dispatch('GET_ETV_VALUE', this.options[event.target.value].tank_id);
        } else {
          this.$store.commit('SET_TANK_SELECTED', false);
        }
      }
    }
});
</script>
