<template>
  <div
      class="grid lg:grid-cols-3 grid-cols-1 grid-rows-2 md:grid-flow-row container mx-auto py-3 gap-3"
    >

    <AsyncImageComponent
        class="shadow hidden md:block"
        v-if="isSelected"
    ></AsyncImageComponent>
    <AsyncLineChartsComponent :etv="etv" name='win'  id="winrate" v-if="isSelected"/>
    <AsyncLineChartsComponent :etv="etv" name='dmg' id="damage" v-if="isSelected"/>
    <AsyncLineChartsComponent :etv="etv" name='frag' id="frags" v-if="isSelected"/>
    <AsyncLineChartsComponent :etv="etv" name='def' id="defense" v-if="isSelected"/>
    <AsyncLineChartsComponent :etv="etv" name='spot' id="spotted" v-if="isSelected"/>
    </div>
</template>

<script>

import { defineComponent, reactive, toRefs, computed, defineAsyncComponent } from "vue";
import { useStore } from "vuex";

const AsyncImageComponent = defineAsyncComponent(() =>  import('@/components/EtvhImage.vue'));
const AsyncLineChartsComponent = defineAsyncComponent(() => import('@/components/LineChartComponent.vue'));

export default defineComponent({
    name: "ChartsComponent",

    components: { AsyncLineChartsComponent, AsyncImageComponent},

    setup() {
     const store = useStore();

     const state = reactive({
        isTankSelected: false,
        tank: {},
        isLoading: false,
        etv: {},
     });

     const isSelected = computed(()=> {
         return store.getters.IS_TANK_SELECTED
     });

    state.etv = computed(() => {
      return store.state.etvValue;
    });

     state.tank = computed(() => {
         return store.getters.GET_TANK;
     });

     return {
         ...toRefs(state),
         isSelected,
     }
    },

});
</script>
