<template>
  <div class="container md:mx-auto">
    <div class="p-2 shadow-md flex flex-col lg:flex-row items-stretch sm:space-x-3 space-y-1">
      <div class="md:flex lg:flex-col flex-row content-center justify-center">
        <h1 class="font-black">Expected tank value history</h1>
      </div>


      <select @change="changeLevel($event.target.value)">
        <option value="" disabled selected>Select level</option>
        <option
          v-for="option in level"
          :key="option"
          :value="option"
        >
          {{ option }}
        </option>
      </select>

      <select @change="changeNation($event.target.value)">
        <option value="" disabled selected>Select nation</option>
        <option
          v-for="option in nation"
          :key="option"
          :value="option"
        >
          {{ option }}
        </option>
      </select>

      <select @change="changeType($event.target.value)">
        <option value="" disabled selected>Select type</option>
        <option
          v-for="option in tankType"
          :key="option"
          :value="option"
        >
          {{ option }}
        </option>
      </select>

      <select-tank-component
          v-if="getTanks.length > 0"
          :options="getTanks"
          label="Select the tank"
      />
    </div>
  </div>
</template>

<script>
import {defineComponent, reactive, toRefs} from "vue";
import constants from '../models/formConstants';
import SelectTankComponent from "./FormComponents/SelectTankComponent.vue";


export default defineComponent({
  name: "EtvhForm",
  components: { SelectTankComponent },

  setup() {
    const state = reactive({
      level: constants.formConstant.level,
      nation: constants.formConstant.nation,
      tankType: constants.formConstant.tankType,
    })

    return {
      ...toRefs(state),
    }
  },

  data() {
    return {
      selectedLevel: 0,
      selectedNation: '',
      selectedTankType: '',
      selectedTankId: {},
    }
  },
  methods: {
    changeLevel(level)
    {
      this.selectedLevel = level;
      this.asyncGetTanks();
    },

    changeNation(nation)
    {
      this.selectedNation = nation;
      this.asyncGetTanks();
    },

    changeType(type)
    {
      this.selectedTankType = type;
      this.asyncGetTanks();
    },

    asyncGetTanks()
    {
      if (this.selectedNation != '' && this.selectedLevel != 0 && this.selectedTankType != '') {
        const postData = 'level=' + this.selectedLevel + '&type=' + this.selectedTankType + '&nation=' + this.selectedNation;
        this.$store.dispatch('GET_TANKS', postData);
      }
    },
  },
  computed: {
    getTanks() {
      return this.$store.state.tanks;
    },
  },
});
</script>
