<template>
  <div :style="{ ...backGroundImage}">
    <h2 class="font-bold ml-1">{{ tank.name }}</h2>
  </div>
</template>

<script>
import {computed, defineComponent} from "vue";
import {useStore} from "vuex";

const BACKGROUND_IMAGE_URL = 'https://eu-wotp.wgcdn.co/dcont/tankopedia_images';

const normalizeImageUrl = function(tag) {
  const tank_name = tag.toLowerCase();
  const url = BACKGROUND_IMAGE_URL + '/' + tank_name + '/' + tank_name + '_image.png';

  return url;
};

export default defineComponent({
  name: "EtvhImage",
  setup() {
    const store = useStore();

    const tank = computed(() => {
      return store.getters.GET_TANK;
    });

    const imageUrl = computed(()=>{
      return normalizeImageUrl(tank.value.tag);
    });

    const backGroundImage = computed(() => {
      const urlImage = normalizeImageUrl(tank.value.tag);

      return {
        backgroundImage: 'url('+urlImage+')',
        backgroundSize: '900px',
        backgroundPosition: '-140px center',
      }
    });
    return { tank, imageUrl, backGroundImage }
  },

})
</script>>
