<template>
  <div class="shadow-md">
    <h2 class="font-bold ml-1">{{ chartName }}</h2>
    <ApexChart width='100%' height='250px' type="line" :options="categories" :series="values"></ApexChart>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import VueApexCharts from 'vue3-apexcharts';

const chartsName = {
  "dmg":  "Damage",
  "win":  "Winrate",
  "spot": "Spotted",
  "def":  "Defense",
  "frag": "Frags",
}

export default defineComponent({
  name: "LineChartComponent",
  components: {
    ApexChart: VueApexCharts,
    },
  props: {
    etv: {
      type: Array,
      required: true,
    },
    name: {
      type: String,
      required: true,
    }
  },

  computed: {
    values: function() {
      const series = [{
        name: 'winrate',
        data: [],
      }];

      series[0].data = [];
      this.etv.forEach((value) => {
         series[0].data.push(value[this.name]);
      });

      return series;
    },

    categories: function() {
      const chartOptions = {
        chart: {
          id: chartsName['win'] + '_chart',
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          categories: [],
          tickAmount: 12,
          type: 'string',
          labels: {
            show: true,
          },
        }
      };

      this.etv.forEach((value) => {
          chartOptions.xaxis.categories.push(value['date']);
      });

      return chartOptions;
    },

    chartName: function() {
      const index = this.name;
      return chartsName[index];
    },
  }

});
</script>
