<template>
  <div>
    <EtvhForm />
    <ChartsComponent />
  </div>
</template>

<script>
import {defineComponent} from 'vue';
import EtvhForm from '@/components/EtvhForm.vue';
import ChartsComponent from '@/components/ChartsComponnet'

export default defineComponent({
  name: 'App',
  components: { EtvhForm, ChartsComponent },
});
</script>
